<div class="container">
	<div class="row title">
		<div class="col-md-6 col-md-offset-3">

			<!-- Task creation FORM -->
			<form ng-submit="postTask(task)">
				<!-- Task title -->
				<input type="text" ng-model="task.title" class="form-control" placeholder="Tarefa" required><br>
				<!-- Task description -->
				<textarea ng-model="task.description" class="form-control" placeholder="Descreva o que você precisa" required></textarea><br>
				<!-- Task payment amount -->
				<input type="number" ng-model="task.total" class="form-control" placeholder="Quanto você pretende pagar?" required><br>
				<!-- Submit button -->
				<input type="submit" value="Criar" class="btn btn-warning">
			</form>

		</div>
	</div>
</div>

